body, html {
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#work{
  color: white;
  padding-left: 40px;
  text-align: left;
  float: left;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  letter-spacing: 2px;
}

#goldman{
  margin: 0;
  padding: 0;
  text-align: right;
  float: right;
  width: auto;
  padding-right: 0;
}

#title{
  background-color: #64ACFC;
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.panel{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #98C6F4;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
  height: 45px;
}
.buttons:hover, a.active{
    background-color: #63ABBA;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}


#log{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fd5f00;

}

#body{
  background-color: #63ABBA;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#mission{
  float:left;
  text-align: center;
  width: 100%;
  line-height: 35px;
  font-size: 22px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

#picture{
  float:right;
  width: 100%;
  height: 100%;
  justify-content: center;
}

a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* a:hover, a:active {
    background-color: #fbafaf;
} */
