<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/login_fail.css"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<div id="title">
  <div id="work">
    <h1>
    WorkForce®
  </h1>
  </div>
  <div id="goldman">
    <img src="/images/goldman.jpg" width="200px">
  </div>
</div>

<div id="body">
  <div id="content"><br>
    <img src="images/login.gif" width="350"><br>
    <strong style="font-size: 32px">Could not find account</strong><br>
    <div style="text-align: center;" id="xx">
    <div class="button" style="margin-top: 10px; padding: 7px; text-align: left">
      <a href="/create">Sign Up</a>
    </div>
    <div class="button" style="margin-left: 20px; margin-top: 10px; padding: 7px">
      <a href='{{logout_url}}'> Take me back Home</a>
    </div>
  </div>
  </div>
</div>

<!-- <a href="{{logout_url}}">retry</a>
<br>
<a href="/create">sign up</a> -->
