<!DOCTYPE html>
<title>Your Profile</title>

<link rel="stylesheet" href="/stylesheets/profile.css"/>


<div id = "maininfo">
  <h1>{{profile.first_name}}</h1>
  <h2>{{profile.email}}</h2>
</div>

<div id = "otherinfo">
  <p>Experience: {{profile.experience}} </p>
  <p>Education: {{profile.education}}</p>
  <p>Looking for a job in the {{profile.industry}} industry </p>
</div>

<!-- <div id = "resume"
  <embed src="/resume?key={{profile.key.urlsafe}}" width="800px" height="2100px" />
</div> -->

<form method = "post" action = "/profile">
  <button id = "update">Update Profile</button>
</form>
