<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/upload_resume.css"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<title>Upload your resume</title>

<div id="title">
  <div id="work">
    <h1>
      WorkForce®
    </h1>
  </div>
  <div id="goldman">
    <img src="/images/goldman.jpg" width="200px">
  </div>
</div>

<div class="panel">
  <div class="buttons">
    <a href="/">Home</a>
  </div>
  <div class="buttons">
    <a href="/profile?key={{current_person.key.urlsafe()}}">Profile</a>
  </div>
  <div class="buttons">
    <a href="/upload_resume?key={{current_person.key.urlsafe()}}">Resume Review</a>
  </div>
  <div class="buttons">
    <a href="/tips?key={{current_person.key.urlsafe()}}">Tips</a>
  </div>
  <div class="buttons">
    <a href="{{logout_url}}">Log out</a>
  </div>
</div>

<div id="body">
  <div id="image">
    <br>
    <img src="images/pic1.gif" width= '400'> &nbsp; &nbsp; &nbsp; &nbsp;
    <img src="images/pic2.gif" width='400'>
  </div>
  <div id="content">
    <br>
    Welcome to Resume-I©, a smart alogrithm <br> designed to give you tips on improving your resumé. <br> Get started by uploading your resumé below.
    <br><br>
    <div style="line-height: 20px; font-size:20px;">
      <br>
      <form action="/upload_resume" method="post" enctype="multipart/form-data">
        Upload resumé here: &nbsp;<input name="resume" type="file"><br><br>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>


<!-- <br><br><br><br>
<form action="/upload_resume" method="post" enctype="multipart/form-data">
  Upload your resume: <br><input name="resume" type="file"><br>
  <button>Upload</button>
</form> -->
