<!DOCTYPE html>
<title>WorkForce</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/writing_help.css"/>

<div id="title">
  <div id="work">
    <h1>
    WorkForce®
  </h1>
  </div>
  <div id="goldman">
    <img src="/images/goldman.jpg" width="200px">
  </div>
</div>

<div class="panel">
  <div class="buttons">
    <a href="/">Home</a>
  </div>
  <div class="buttons">
    <a href="/profile?key={{current_person.key.urlsafe()}}">Profile</a>
  </div>
  <div class="buttons">
    <a href="/upload_resume?key={{current_person.key.urlsafe()}}">Resume Review</a>
  </div>
  <div class="buttons">
    <a href="/tips?key={{current_person.key.urlsafe()}}">Tips</a>
  </div>
  <div class="buttons">
    <a href="{{logout_url}}">Log out</a>
  </div>
</div>

<div id="body">
  <div class="content">
    <div style="font-size: 27px;"><strong>Common Interview Questions:</strong></div><br>
    Common Interview Questions include:
    <br>
    Tell me a little about yourself.
    <br>
    What are your biggest weaknesses?
    <br>
    What are your biggest strengths?
    <br>
    Where do you see yourself in five years?
    <br>
    Out of all the other candidates, why should we hire you?
    <br>
    How did you learn about the opening?
    <br>
    Why do you want this job?
    <br>
     What do you consider to be your biggest professional achievement?
    <br>
     Tell me about the last time a co-worker or customer got angry with you. What happened?
    <br>
     Describe your dream job.
    <br>
    Why do you want to leave your current job?
    <br>
    What kind of work environment do you like best?
  </div>
  <div class="content">
    <div style="font-size: 27px;"><strong>Resume Tips:</strong></div><br>
    Identify Accomplishments not Just Job Descriptions.
 <br>
    Quantify Your Accomplishments.
 <br>
    "Cater Your Resume for your subject on interest.
 <br>
    Replace your Objective" with a "Career Summary
 <br>
    Network. Network. Network.
    <br>
    NO large paragraphs (1-2 sentences maximum)
 <br>
    Keep your points flowing
 <br>
    Any references you cite should be included on a different document
 <br>
    Organzie content of bulletpoints based on category (general, education, work experience, Extracurricular activities)
 </div>
  </div>
</div>

<!-- <div id="body">


  <div id="rwriting">
     Format Your Resume Wisely "Do the Hiring Managers" Work for Them.
  <br>
     Identify Accomplishments not Just Job Descriptions.
  <br>
     Quantify Your Accomplishments.
  <br>
     "Cater Your Resume for your subject on interest.
  <br>
     Replace your Objective" with a "Career Summary
  <br>
     Network. Network. Network.
  </div>

  <div id = "structuring">
     NO large paragraphs (1-2 sentences maximum)
  <br>
     Keep your points flowing
  <br>
     Any references you cite should be included on a different document
  <br>
     Organzie content of bulletpoints based on category (general, education, work experience, Extracurricular activities)
  </div>
  <div id="picture">
  </div>
</div> -->
